<div class="item">

    <div>Avatar URL</div>
    <div><input type="url" name="avatar_url" placeholder="http://" value="{{ member.avatar_url }}"></div>

</div>

<div class="item">

    <div>Nome</div>
    <div><input type="text" name="name" value="{{ member.name }}"></div>

</div>

<div class="item">

    <div>Email</div>
    <div><input type="email" name="email" value="{{ member.email }}"></div>

</div>

<div class="item">

    <div>Data de Nascimento</div>
    <div><input type="date" name="birth" {{ member.birth }}>

    </div>

    <div class="item">
        <div>Sexo</div>
        <span><input type="radio" name="gender" value="M">Masculino</span>
        <span><input type="radio" name="gender" value="F">Feminino</span>

    </div>

    <div class="item">
        <div>Tipo Sanguineo</div>
        <div>
            <select name="blood">
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
            </select>

        </div>
    </div>

    <div class="item">
        <div>Peso (Kg)</div>
        <div>
            <input type="number" name="weight" value="{{member.weight}}">
        </div>
    </div>

    <div class="item">
        <div>Altura (cm)</div>
        <div>
            <input type="number" name="height" value="{{member.height}}">
        </div>
    </div>

    <button type="submit">Salvar</button>